{
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier", "jest"],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", ".jsx"]
            }
        ],
        "import/imports-first": ["error", "absolute-first"],
        "import/newline-after-import": "error",
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "react/state-in-constructor": 0,
        "jsx-a11y/click-events-have-key-events": 0,
        "jsx-a11y/no-static-element-interactions": 0,
        "jsx-a11y/label-has-associated-control": 0
    },
    "globals": {
        "window": true,
        "document": true,
        "localStorage": true,
        "FormData": true,
        "FileReader": true,
        "Blob": true,
        "navigator": true
    },
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        },
        "requireConfigFile": false
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jest/globals": true
    },
    "settings": {
        "import/resolver": "webpack"
    }
}
